---
layout: master
title: Home
description: Home Page for Memsat
---
<div id="particles-js"></div>
<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
          <img src="assets/images/memsat_logo2_1024.png" style='height:42px; display:inline-block; margin-bottom: 12px;'/>
          <h1 id="pin" style='display:inline-block;'>{{site.title}}</h1>
	  </div>
	</header>
	<nav>
		<div class="row">
 			<div class="col-md-4 col-sm-4 col-xs-12">
				<a href="about/" title="About MemSat">
					<div class="tile blue profile">
						<h2 class="title">About Memsat</h2>
						<p>From Payload to Comms</p>
					</div>
				</a>
		    	</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<a href="launch/" title="Launch">
					<div class="tile blue profile">
						<h2 class="title">Launch</h2>
						<p>Rocket, Trajectory</p>
					</div>
				</a>
		    	</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="updates/" title="Blog"  class="tile blue">
					<i class="icon-blog" style="font-size:8em"></i>
				</a>
			</div>
		</div>

		<div class="row">

 			<div class="col-md-4 col-sm-4 col-xs-12">
				<a href="updates/" title="Updates">
					<div class="tile blue profile">
						<h2 class="title">Updates</h2>
						<p>Recent Updates</p>
					</div>
				</a>
		    	</div>


			<div class="col-md-4 col-sm-4 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.url}}" title="Latest Update">
					<div class="tile blue">
						<h3 class="title">Latest Update</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
            {% capture pageurl %}{{link.url}}{{"index.html"}}{% endcapture %}
                {% if page.url != "?kiosk" %}
				<a href="{{site.facebook}}" class="tile blue">
					<i class="icon-fcbk" style="font-size:8em"></i>
                    <span style='display:none'>{{page.url}} {{pageurl}}</span>
				</a>
                {% endif %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}" title="Featured Article">
						<div class="tile blue">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="row" style="margin-bottom:25px">

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="/about/comms" title="Comms" class="tile blue">
					<img src="assets/images/comms.svg" alt="Communications icon">
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="/about/power" title="Power"  class="tile blue">
					<img src="assets/images/power.svg" alt="Power icon">
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="/about/payload" class="tile blue">
					<img src="assets/images/satellite.svg" alt="Payload icon">
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">

				<a href="/about/motherboard" title="Motherboard" class="tile blue">
					<img src="assets/images/chip.svg" alt="Motherboard icon" style='height:116px; margin-left:-22px; margin-top:-5px;'>
				</a>

			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="/about/simulation" title="Simulation" class="tile blue">
					<img src="assets/images/simulation.svg" alt="Simulation icon">
				</a>
			</div>
		</div>
	</nav>
</div>
